body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    background-color: rgb(214, 214, 214);
    padding: 0.7em 0;
}

header a {
    color: black;
    font-size: larger;
    text-decoration: none;
    margin: 0 0.3em;
    padding: 0 0.3em;
}

header a:hover {
    border-bottom: 1px solid black;
}

.active {
    background-color: white;
}

.logo {
    font-size: xx-large;
    margin: 0 10% 0 1em;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-top: 1px solid white;
    margin: auto;
    border-radius: 50%;
    animation: revolve 1s infinite linear;
}


/* Animation */

@keyframes revolve {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}